{% extends 'base.html' %}

{% block headersection %}

<section class="header-container">
  <img class="profile-image" src="\static\assets\linkdinProfile.png" alt="" />
  <h1>Hey Visitor! I'm Nikhil Mahajan</h1>

  <div class="content-text">
    <h2>Software Developer</h2>
    <p>
      Can communicate in ASM, C, C++, JAVA, Python and Javascript<br>I create Web Services and AI powered Software
    </p>
  </div>
  <a href="#footer" class="btn btn-secondary">Connect With Me</a>
</section>
{% endblock %}

{% block body %}
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Special Skills</h2>
    <div class="container">
      <table style="text-align: center;margin: 0 auto;">
        <tr>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-python"></i></h2>
              <h4>Python</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><img src="static\assets\skill\cpp.svg"></h2>
              <h4>C++</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-java"></i></h2>
              <h4>Javas</h4>
            </div>
          </td>
        
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-js"></i></h2>
              <h4>Javascript</h4>
            </div>
          </tr>
          <tr>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><img src="static\assets\skill\icons8-pandas.svg"></h2>
              <h4>Pandas</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><img src="static\assets\skill\sk.svg"></h2>
              <h4>Scikit-learn</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fas fa-code"></i></h2>
              <h4>Matplotlib</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fas fa-code"></i></h2>
              <h4>Seaborn</h4>
            </div>
          </td>
        </tr>
        <tr>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><img src="static\assets\skill\tf.svg"></h2>
              <h4>Tensorflow</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><img src="static\assets\skill\cv.svg"></h2>
              <h4>OpenCV</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><img src="static\assets\skill\mysql.svg"></h2>
              <h4>Mysql</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-github"></i></h2>
              <h4>Git & Github</h4>
            </div>
          </td>
        </tr>
      </table>
    </div>    
  </div>
</section>


<!-- Projects -->
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Popular Project</h2>
    <p>Check out some of my projects</p>
  </div>

  <div class="container">
    <div class="textcard">
      <table>
        <tr>
          <td>
            <!--<img src="https://github.com/dmdhrumilmistry/pyhtools/blob/main/.images/PyHTools.png?raw=True"
              alt="Pyhtools image" style="width: auto; max-width: 100%;">-->
          </td>
          <td>
            <div class="container">
              <h3>Face-Mask-Detector</h3>
              <p style="text-align: justify;">Face Mask detector is a real time webapp to detect wheter a person is wearing face mask with accuracy of 95 accuracy.
                – fine-tuned CNN model to predict accurate results on real-time video stremed.Video is preprocessed to make prediction using openCV library
                – Flask Framework is used to develop the lite weight web application and video streamming and real-time prediction..</p>
              <a href="https://github.com/coderNiKhIlbro/Face-Mask-App" class="btn btn-secondary">View Project <i class="fab fa-github"></i></a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <a href="{{url_for('projects_page')}}" class="btn btn-secondary">See More <i class="fas fa-arrow-right"></i></a>
</section>
{% endblock %}